In [62]:
import import_ipynb
import importlib
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns

import pandas as pd
import utils
importlib.reload(utils)

importing Jupyter notebook from utils.ipynb

In [65]:
query_list = ['AI1801', 'EKM006', \
              'AI0203', 'AI0219',\
             #'BEVDG1','BEVDA1_04'\
              'AI0306','AI0307',\
              'KIN002',\
             'KIN004']
des_list = ['Father_parental_benefit','Disposable_income_private_households',\
           'Child_population','Average_age_of_mother_1st_birth',\
            #'Average_age_of_mother_1st_2nd_birth','Unmarried_mother'\
            'Children_0_2_year_in_care','Children_3_5_year_in_care',\
           'Childcare_facilities',\
           'Facilities_with_integrated_childcare']
for code,des in zip(query_list,des_list):
    print('--------------\n')
    print(code,des)
    print('--------------\n')
    statstates = utils.DataQueryStates(code,des,region= None)
    statstates.get_info_of_a_query_region()
    #put state code for statistics of a state or ' none' for all states
    dfstates = statstates.get_data_combined_query_region()
    # Save DataFrame to pickle
    dfstates.to_pickle("saves/%s.pkl"%code)

--------------

AI1801 Father_parental_benefit
--------------

kind:
OBJECT

description:
Elterngeldbezug Vater

arguments:
year: LIST of type SCALAR(Int)

statistics: LIST of type ENUM(AI1801Statistics)
enum values:
R99910: Regionalatlas Deutschland

fields:
id: Interne eindeutige ID
year: Jahr des Stichtages
value: Wert
source: Quellenverweis zur GENESIS Regionaldatenbank

enum values:
None
--------------

EKM006 Disposable_income_private_households
--------------

kind:
OBJECT

description:
verfügbares Einkommen der privaten Haushalte

arguments:
year: LIST of type SCALAR(Int)

statistics: LIST of type ENUM(EKM006Statistics)
enum values:
R82411: VGR der Länder: Umverteilungsrechnung

fields:
id: Interne eindeutige ID
year: Jahr des Stichtages
value: Wert
source: Quellenverweis zur GENESIS Regionaldatenbank

enum values:
None
--------------

AI0203 Child_population
--------------

kind:
OBJECT

description:
Bevölkerung 0 bis 17 Jahre

arguments:
year: LIST of type SCALAR(Int)

statistics: LIST of type ENUM(AI0203Statistics)
enum values:
R99910: Regionalatlas Deutschland

fields:
id: Interne eindeutige ID
year: Jahr des Stichtages
value: Wert
source: Quellenverweis zur GENESIS Regionaldatenbank

enum values:
None
--------------

AI0219 Average_age_of_mother_1st_birth
--------------

kind:
OBJECT

description:
Durchschnittsalter der Mutter bei der Geburt des 1. Kindes

arguments:
year: LIST of type SCALAR(Int)

statistics: LIST of type ENUM(AI0219Statistics)
enum values:
R99910: Regionalatlas Deutschland

fields:
id: Interne eindeutige ID
year: Jahr des Stichtages
value: Wert
source: Quellenverweis zur GENESIS Regionaldatenbank

enum values:
None
--------------

AI0306 Children_0_2_year_in_care
--------------

kind:
OBJECT

description:
Betreuungsquote 0 bis 2 Jahre

arguments:
year: LIST of type SCALAR(Int)

statistics: LIST of type ENUM(AI0306Statistics)
enum values:
R99910: Regionalatlas Deutschland

fields:
id: Interne eindeutige ID
year: Jahr des Stichtages
value: Wert
source: Quellenverweis zur GENESIS Regionaldatenbank

enum values:
None
--------------

AI0307 Children_3_5_year_in_care
--------------

kind:
OBJECT

description:
Betreuungsquote 3 bis 5 Jahre

arguments:
year: LIST of type SCALAR(Int)

statistics: LIST of type ENUM(AI0307Statistics)
enum values:
R99910: Regionalatlas Deutschland

fields:
id: Interne eindeutige ID
year: Jahr des Stichtages
value: Wert
source: Quellenverweis zur GENESIS Regionaldatenbank

enum values:
None
--------------

KIN002 Childcare_facilities
--------------

kind:
OBJECT

description:
Tageseinrichtungen für Kinder

arguments:
year: LIST of type SCALAR(Int)

statistics: LIST of type ENUM(KIN002Statistics)
enum values:
R22541: Statistik der Tageseinrichtungen für Kinder

KINTE4: LIST of type ENUM(KINTE4)
enum values:
ALT000B03: unter 3 Jahre
ALT002B008A: 2 bis unter 8 Jahre (ohne Schulkinder)
ALT005B014A: 5 bis unter 14 Jahre (nur Schulkinder)
ALTGRKINDER: Kinder aller Altersgruppen
GESAMT: Gesamt

KINTE1: LIST of type ENUM(KINTE1)
enum values:
INSGESAMT1: Insgesamt
KINDERGARTEN: Kindergärten
KINDERHORTE: Horte
KINDERKRIPPEN: Kinderkrippen
KINDERSONST: anderweitige Einrichtungen
GESAMT: Gesamt

filter: INPUT_OBJECT(KIN002Filter)

fields:
id: Interne eindeutige ID
year: Jahr des Stichtages
value: Wert
source: Quellenverweis zur GENESIS Regionaldatenbank
KINTE4: Tageseinrichtungen nach Alter der Kinder
KINTE1: Tageseinrichtungen für Kinder

enum values:
None
--------------

KIN004 Facilities_with_integrated_childcare
--------------

kind:
OBJECT

description:
Einrichtungen mit integrativer Kinderbetreuung

arguments:
year: LIST of type SCALAR(Int)

statistics: LIST of type ENUM(KIN004Statistics)
enum values:
R22541: Statistik der Tageseinrichtungen für Kinder

fields:
id: Interne eindeutige ID
year: Jahr des Stichtages
value: Wert
source: Quellenverweis zur GENESIS Regionaldatenbank

enum values:
None

In [45]:
from datenguidepy.query_builder import Query
query = Query.region('02')
# add a field (the statstic) to the query
q_field = query.add_field('BEVDG1')
q_field.get_info()

kind:
OBJECT

description:
Durchschnittsalter der Mutter bei der Geburt

arguments:
year: LIST of type SCALAR(Int)

statistics: LIST of type ENUM(BEVDG1Statistics)
enum values:
R12612: Statistik der Geburten

BEVDA1: LIST of type ENUM(BEVDA1)
enum values:
BEVDA1_01: unabhängig von der Geburtenreihenfolge
BEVDA1_02: bei der Geburt des 1. lebendgeborenen Kindes
BEVDA1_03: bei der Geburt des 2. lebendgeborenen Kindes
BEVDA1_04: verheiratete Frauen
BEVDA1_05: nichtverheiratete Frauen
GESAMT: Gesamt

filter: INPUT_OBJECT(BEVDG1Filter)

fields:
id: Interne eindeutige ID
year: Jahr des Stichtages
value: Wert
source: Quellenverweis zur GENESIS Regionaldatenbank
BEVDA1: Durchschnittsalter der Mutter

enum values:
None

In [78]:
for code,des in zip(query_list,des_list):
    print('--------------\n')
    print(code,des)
    print('--------------\n')
    query = Query.region('02')
    # add a field (the statstic) to the query
    q_field = query.add_field(code)
    df = query.results(add_units = True)[['id','name','year',code,code+'_unit']]
    print(df.head())

--------------

AI1801 Father_parental_benefit
--------------

   id     name  year  AI1801 AI1801_unit
0  02  Hamburg  2011    29.9     Prozent
1  02  Hamburg  2012    32.4     Prozent
2  02  Hamburg  2013    35.2     Prozent
3  02  Hamburg  2014    37.3     Prozent
--------------

EKM006 Disposable_income_private_households
--------------

   id     name  year    EKM006 EKM006_unit
0  02  Hamburg  2000  30648436         EUR
1  02  Hamburg  2000  30648436         EUR
2  02  Hamburg  2001  32718014         EUR
3  02  Hamburg  2001  32718014         EUR
4  02  Hamburg  2002  32265170         EUR
--------------

AI0203 Child_population
--------------

   id     name  year  AI0203 AI0203_unit
0  02  Hamburg  1995    16.0     Prozent
1  02  Hamburg  1995    16.0     Prozent
2  02  Hamburg  2000    16.1     Prozent
3  02  Hamburg  2000    16.1     Prozent
4  02  Hamburg  2005    15.7     Prozent
--------------

AI0219 Average_age_of_mother_1st_birth
--------------

   id     name  year  AI0219 AI0219_unit
0  02  Hamburg  2011    30.3      Anzahl
1  02  Hamburg  2011    30.3      Anzahl
2  02  Hamburg  2012    30.5      Anzahl
3  02  Hamburg  2012    30.5      Anzahl
4  02  Hamburg  2013    30.7      Anzahl
--------------

AI0306 Children_0_2_year_in_care
--------------

   id     name  year  AI0306 AI0306_unit
0  02  Hamburg  2007     0.0     Prozent
1  02  Hamburg  2007     0.0     Prozent
2  02  Hamburg  2008     0.0     Prozent
3  02  Hamburg  2008     0.0     Prozent
4  02  Hamburg  2009     0.0     Prozent
--------------

AI0307 Children_3_5_year_in_care
--------------

   id     name  year  AI0307 AI0307_unit
0  02  Hamburg  2007     0.0     Prozent
1  02  Hamburg  2007     0.0     Prozent
2  02  Hamburg  2008     0.0     Prozent
3  02  Hamburg  2008     0.0     Prozent
4  02  Hamburg  2009     0.0     Prozent
--------------

KIN002 Childcare_facilities
--------------

   id     name  year  KIN002 KIN002_unit
0  02  Hamburg  2007     944      Anzahl
1  02  Hamburg  2007     944      Anzahl
2  02  Hamburg  2008     968      Anzahl
3  02  Hamburg  2008     968      Anzahl
4  02  Hamburg  2009     990      Anzahl
--------------

KIN004 Facilities_with_integrated_childcare
--------------

   id     name  year  KIN004 KIN004_unit
0  02  Hamburg  2007     180      Anzahl
1  02  Hamburg  2007     180      Anzahl
2  02  Hamburg  2008     187      Anzahl
3  02  Hamburg  2008     187      Anzahl
4  02  Hamburg  2009     187      Anzahl